.content{
    width:100%;
    margin:2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.createPost{
    display: none;
}
/* Media Queries */
@media screen and (min-width:768px) {
    .createPost{
        display: block;
    }
}
@media screen and  (min-width:1025px){
   
  }