.commentBox{
    display: flex;
    flex-direction: column;
    width: 60vw;
}
.commentBox button{
    width: fit-content;
    font-family: monospace;
    font-weight: 800;
    padding: 0.5rem 1rem;
    border: 0.2rem solid;
    filter: drop-shadow(0.2rem 0.2rem black);
    background-color: #95C754;
    font-size: 1rem;
    margin: auto;
}
.emojiBox{
    background-color: #C9F5FF;
    margin: 2px;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: bold;
    display:grid;
    grid-template-columns: repeat(4,2rem);
    gap:0.2rem;
    width: fit-content;
}
.textArea{
    width: 80%;
    display: block;
    margin: auto;
    resize: none;
    background-color: #95C754;
    font-weight: 900;
    border-radius: 0;
    border:2px solid;
}
.emojiBox span{
    font-size: 1.5rem;
    border-radius: 5px;
}
.emojiBox span:hover{
    background-color: rgb(63, 62, 62);
}
@media screen and (min-width: 1025px)
{
    .commentBox{
        width: fit-content;
    }
}