.App {
  text-align: center;
  background-color: #FEF4C0;
  min-height: 100vh;
  font-family: monospace;
}

.page{
  display: flex;
}

.custom {
  cursor: pointer;
  font-size: 2rem;
}
.postMoreOptions{
  padding: 50% 0;
  cursor: pointer;
}
::-webkit-scrollbar{
  display: none;
}

.content{flex-direction: column;
align-items: center;
display: flex;
width: 100%;
position: relative;
margin-bottom: 4rem ;
left: 0;}

.welcomeBrand{
  font-size: 5rem;
  color: #BADA91;
  font-family: monospace;
  font-weight: 900;
  text-shadow: 5px black;
}

.star{
  color:cyan;
  /* font-size: 1rem; */
}
/* .content{
  flex-direction: column;
    align-items: center;
    display: flex;
    width: 55vw;
    position: relative;
    left: 20vw;
} */


/* Media Queries */
@media screen and (min-width:768px) {
 }
@media screen and  (min-width:1025px){
 .content{
  left:20vw;
  width: 55vw;
 }
 .footer{
  display: none;
 }
}