.profileCard{
background-color: #FE7E16;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
border: 0.4rem solid black;
}
.postContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.profileImg{
    height: 9rem;
    border-radius: 50%;
    border: 5px solid;
    width: 9rem;
}
.profileSociety{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    color: #FE7E16;
    height: 8vh;
    font-size: 1.3rem;
    font-family: monospace;
    font-weight: 800;
}
.profileSociety p{
    margin: 1px;
}
.userDisplayName{
    font-family: monospace;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0;
}
.userDisplayBio{
    font-family: monospace;
    font-weight: 900;
    font-size:1.2rem;
    font-weight: 900;
    width: fit-content;
    text-overflow: ellipsis;

}
.profileOptions{
    margin:1rem;
}
.profileOptions button{
    margin: 0 1rem;
    padding:0.4rem 0.6rem;
    font-weight: 800;
    font-family: monospace;
    font-size: 1rem;
    border:0.2rem solid;
    filter:drop-shadow(0.2rem 0.2rem black);
    cursor: pointer;
}
.profileOptions button:first-child{
    background-color: #FE7E16;
}
.profileOptions button:first-child:hover{
    color: #FE7E16;
    background-color: black;
}
.profileOptions button:nth-child(2){
    color:#FE7E16;
    background-color: black;
}
.profileOptions button:nth-child(2):hover{
    background-color:#FE7E16;
    color: black;
}
.userDisplay{
    font-family: monospace;
    font-weight: 900;
    font-size:1.2rem;
    margin-top:0;
    font-weight: 900;
}
.webLink a{
color:#000;
text-decoration: none;
}
.webLink a:hover{
    text-decoration: underline;
}